# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [2]:
# Import sqlite3 and pandas.
import sqlite3 
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [3]:
# Create a new database called exercises.db.
conn = sqlite3.connect('exercises.db')
conn.close()

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [11]:
# Create a new table in your database.
conn = sqlite3.connect('exercises.db')

query = '''
CREATE TABLE favorite_books (
    id INTEGER PRIMARY KEY,
    title VARCHAR(100) NOT NULL CHECK(length(title) <= 100),
    author VARCHAR(100) NOT NULL CHECK(length(author) <= 100),
    description TEXT NOT NULL
);
'''

conn.execute(query)

conn.close()

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [12]:
# Add your 3 favorite books to your table.
conn = sqlite3.connect('exercises.db')

conn.execute("INSERT INTO favorite_books (id,title,author,description) \
      VALUES (1, 'book1', 'author1', 'this is book1 desc' )");

conn.execute("INSERT INTO favorite_books (id,title,author,description) \
      VALUES (2, 'book2', 'author2', 'this is book2 desc' )");
      
conn.execute("INSERT INTO favorite_books (id,title,author,description) \
      VALUES (3, 'book3', 'author3', 'this is book3 desc')");

conn.commit()
conn.close()

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [24]:
# Write your SELECT query here.

conn = sqlite3.connect('exercises.db')

cursor = conn.execute("SELECT * FROM favorite_books")

for row in cursor:
   print("ID = ", row[0])
   print( "NAME = ", row[1])
   print("TITLE = ", row[2])
   print("DESCRIPTION = ", row[3], "\n")


conn.close()

ID =  1
NAME =  book1
TITLE =  author1
DESCRIPTION =  this is book1 desc

ID =  2
NAME =  book2
TITLE =  author2
DESCRIPTION =  this is book2 desc

ID =  3
NAME =  book3
TITLE =  author3
DESCRIPTION =  this is book3 desc

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [29]:
# Use Pandas to make a new table in your database.
data = [
    {'id': 1, 'title': 'movie1'},
    {'id': 2, 'title': 'movie2'},
    {'id': 3, 'title': 'movie3'}
]

df = pd.DataFrame(data)

conn = sqlite3.connect('exercises.db')


df.to_sql("favorite_movies", con=conn, index=False, if_exists='replace')

data = pd.read_sql_query('Select * FROM favorite_movies;', conn) 

print(data.head())


conn.commit()
conn.close()

   id   title
0   1  movie1
1   2  movie2
2   3  movie3